# Impedir  que puedan ver el listado de contenido en los directorios, deshabilitar los índices de directorio en todo tu sitio

Options All -Indexes
Options -MultiViews

#usamos la url amigables verificando en el php innfo RewriteEngine

#URL AMIGABLE
RewriteEngine On

#Usamos una expresión regular como regla para capturar todo lo que venga despues de la palabra action

#pasamos una variable $1 a la url que queremos que se reescriba y se remplace


RewriteRule ^([a-zA-Z0-9/]+)$ index.php?enlacefront=$1 [QSA]